name: K6 load test
on: [push]
jobs: 
    build: 
      name: K6 Load test
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: grafana/setup-k6-action@v1
        - uses: grafana/run-k6-action@v1
          with:
            path: ./MaoNaMassa/git/github.js

      