name: K6 load test
on: [push]
jobs: 
    build: 
      name: K6 Load test
      runs-on: ubuntu-latest
      steps:
      - name: step 1 - checkout
        uses: actions/checkout@v3

      - name: step 2 - run k6 load test
        uses: grafana/k6-action@v3
        with:
          filename: MaoNaMassa/git/github.js

      